{% for change in price_changes["prices"] %}
{{ ansible_host }},{{ change["sku"] }},{{ change["name"] }},{{ change["previous_price"] }},{{ change["current_price"] }},{{ "%.2f"|format(change["difference"] or 0.0) }}
{% endfor %}